* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1c2467;
}

/* Navbar */

nav {
    display: flex;
    padding: 25px 0;
    color: white;
    justify-content: space-around;
}

nav .logo {
    position: relative;
    left: 5%;
    width: 45px;
    height: 45px;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 45px;
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    border-radius: 10px;
    cursor: pointer;
}

nav .heading {
    margin-top: 11px;
    width: 20vw;
    font-family: 'Inter', sans-serif;
    letter-spacing: 3px;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    margin-top: 13px;
    padding-right: 100px;
    justify-content: space-between;
    width: 40%;
    font-size: 0.8em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgba(255, 255, 255, 0.649);
}

.menu-toggle {
    display: none;
    margin-top: 10px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #FFFF;
    border-radius: 6px;
    transition: all 1s;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 29px;
    left: -6px;
    top: -3px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

nav ul.slide {
    transform: translateX(0);
}



/* Ukuran Tablet */

@media screen and (max-width: 768px) {
    nav .heading {
        width: 20%;
    }

    nav ul {
        width: 50%;
        padding-right: 20px;
    }
}

/* Ukuran Mobile */
@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }

    nav .heading {
        width: 20%;
    }

    nav ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        justify-content: space-evenly;
        align-items: center;
        z-index: -1;
        background-color: rgba(255, 255, 255, 0.894);
        transform: translateX(100%);
        transition: .5s;
    }

    nav ul li a {
        color: black;
    }

    nav ul li a:hover {
        color: rgba(0, 0, 0, 0.454)
    }
}